/* Style App Main */

/* .App {
  text-align: center;
  background-color: #282c34;
  min-height: 100vh;
  color: white;
} */

/* unused */

/* .App-header { 
  text-align: center;
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
} */

.App {
  height: 100%;
}

.header {
  position: fixed;
}

.main {
  position: fixed;
  background-color: cornflowerblue;
  width: 100%;
  height: 56px;
}

.footer {}