/* Conteudo do extrato */
.extract {
    width: 100%;
    padding: 16px;
}

/* Titulo do extrato */
.title-extract {
    text-align: center;
}

/* Ajustes na tabela de extrato */
.table-extract {
    width: 100%;
    font-size: 0.8rem;
}

/* Empurra todas as a primeiras colunas tabela para ESQUERDA */
.table-extract tr th:first-child, .table-extract tr td:first-child {
    text-align: left;
    padding-left: 1rem;
}

/* Empurra todas as a primeiras colunas tabela para DIREITA */
.table-extract tr th:last-child, .table-extract tr td:last-child {
    text-align: right;
    padding-right: 1rem;
}

/* Primeiro titulo de coluna da */
thead th {
    border-bottom: 1px solid #adadad;
    padding-left: 3rem !important;
}

/* Altura das linhas da tabela e bordas separando essa linhas */
tbody td {
    border-bottom: 1px solid #adadad;
    height: 35px;
}

/* Borda superior da ultima linha da tabela (Total) */
tfoot th {
    border-top: 1px solid #adadad;
}

/* Ajustes no simbolo de tipo de transacao (+ ou -) */
tbody td>span {
    margin-right: 1rem;
    margin-left: 0.5rem;
}