.side-drawer {
    height: 100%;
    width: 80%;
    background: #333333;
    box-shadow: 0px 0px 1px 1px rgba(0, 0, 0, 0.5);
    position: fixed;
    top: 0;
    right: 0;
    z-index: 200;
    transform: translateX(101%);
    transition: transform 0.3s ease-out;
    font-size: 1.3rem;
}

.side-drawer.open {
    transform: translateX(0)
}

.side-drawer ul {
    height: 100%;
    padding: 0;
    list-style: none;
    display: flex;
    flex-direction: column;
}

.side-drawer li {
    color: white;
    padding: 0.5rem;
    text-align: right;
    cursor: pointer;
    padding-right: 1rem;
}

.side-drawer li:hover {
    background: #c4c4c4;
    color: black;
}

.side-drawer a {
    text-decoration: none;
    font-size: 1.2rem;
}

.close-side-menu {
    color: white;
    margin: 2rem;
    cursor: pointer;
    width: fit-content;
}

.close-side-menu:hover {
    transform: scale(1.05);
}

@media (min-width: 768px) {
    .side-drawer {
        max-width: 300px;
    }
}