/* Div pai do conteudo na nova transacao */
.transaction {
    width: 100%;
    padding: 16px;
    margin: 0.5rem;
    border: 1px solid #adadad;
    border-radius: 3px;
}

/* Ajustes no titulo da nova transacao */
.transaction-title {
    text-align: center;
}

/* REMOVE O SPIN DO TYPE BUTTON NUMBER */
input::-webkit-outer-spin-button, input::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}
input[type=number] {
    -moz-appearance: textfield;
}


/* Style dos inputs do formulario */
form, label {
    font-size: 0.8rem;
    margin-top: 1rem;
    margin-bottom: 0.4rem;
    justify-content: left !important;
}

.input-style {
    height: 35px;
    border-radius: 4px;
    padding-left: 0.5rem;
    border: 1px solid #adadad;
}

.submit-style {
    background: #333333;
    color: white;
    margin-top: 1rem;
}